<div class="content"></div>
<h3 class="h3" style="margin-left: 45%; margin-top: 7vh;">Building</h3>
<form class="building" style="margin-top: 15vh;">
    <button class="btn btn-outline-primary" routerLink="/addBuilding">addBuilding</button>
    <button class="btn btn-outline-primary" routerLink="/displayBuilding">getBuilding</button>
    <button class="btn btn-outline-primary" routerLink="/updateBuilding">updateBuilding</button>
</form>
<form  class="building" style="margin-top: 15vh;">

    <button class="btn btn-outline-primary" routerLink="/removeBuilding">removeBuilding</button>
    <button class="btn btn-outline-primary" routerLink="/getMyBuilding">getMyBuilding</button>
    <button class="btn btn-outline-primary" routerLink="/payment">Pay </button>
</form>
