<div class="content"></div>
<h3 class="h3" style="margin-left: 45%; margin-top: 7vh;">Building</h3>
<form class="building" style="margin-top: 15vh;">
    <button routerLink="/addBuilding">addBuilding</button>
    <button routerLink="/displayBuilding">getBuilding</button>
    <button routerLink="/updateBuilding">updateBuilding</button>
    <button routerLink="/removeBuilding">removeBuilding</button>
    <button routerLink="/getMyBuilding">getMyBuilding</button>
    <button routerLink="/payment">Pay </button>
</form>
