<div class="container mt-5">
    <h3 class="mb-4 text-center">Building</h3>
    <form>
      <div class="button-container">
        <button class="btn btn-outline-primary" routerLink="/addBuilding">Add Building</button>
        <button class="btn btn-outline-primary" routerLink="/displayBuilding">Get Building</button>
        <button class="btn btn-outline-primary" routerLink="/updateBuilding">Update Building</button>
        <button class="btn btn-outline-primary" routerLink="/removeBuilding">Remove Building</button>
        <button class="btn btn-outline-primary" routerLink="/getMyBuilding">Get My Building</button>
        <button class="btn btn-outline-primary" routerLink="/payment">Pay</button>
      </div>
    </form>
  </div>