<div class="content"></div>
    <h2 class="headingH2">List of Buildings</h2>
    <table class="building-table">
      <thead>
        <tr>
            <th>PG Name</th>
          <th>Location</th>
          <th>Number of Floors</th>
          <th>PG Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let building of buildings">
            <td>{{ building.pgName }}</td>
            <td>{{ building.location }}</td>
            <td>{{ building.numberofFloors }}</td>
          <td>{{ building.pgType }}</td>
        </tr>
      </tbody>
    </table>
