<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center mb-4">List of Buildings</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>PG Name</th>
                  <th>Location</th>
                  <th>Number of Floors</th>
                  <th>PG Type</th>
                  <th>Building Image</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let building of buildings">
                  <td>{{ building.pgName }}</td>
                  <td>{{ building.location }}</td>
                  <td>{{ building.numberofFloors }}</td>
                  <td>{{ building.pgType }}</td>
                  <td>
                    <img *ngIf="building.buildingImage" [src]="getImageSrc(building.buildingImage)" alt="{{ building.pgName }}" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 text-center">
      <mat-card>
        <mat-card-content>
          <div class="btn-group">
            <button mat-raised-button color="primary" style="margin-right: 20px;" (click)="printMe()">Print</button>
            <button mat-raised-button color="accent" routerLink="/userheader/owner-screen">Back to OwnerScreen</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
