<div class="content"></div>
<h3 class="h3" style="margin-left: 40%; margin-top: 7vh;">Add Room</h3>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="mats-Inputs" style="margin-top: 5vh; margin-left: 36%; width: 25%;">
    <mat-label>Select a Hostel</mat-label>
    <mat-select formControlName="selectedBuilding" (selectionChange)="onItemSelected()">
      <mat-option *ngFor="let item of listofBuildingsArray" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div formArrayName="floorRooms" class="tableData">
    <div *ngFor="let floor of floorRooms.controls; let i = index" [formGroupName]="i">
      <h3 style="margin-left: 5%;">Floor {{ floor.get('floorNumber')?.value }}</h3>
      <table mat-table [dataSource]="getRoomsControls(i).controls" >
        <!-- S.No Column -->
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef> S.No </th>
          <td mat-cell *matCellDef="let row; let index = index"> {{index + 1}} </td>
        </ng-container>
        <!-- Room Number Column -->
        <ng-container matColumnDef="roomNumber">
          <th mat-header-cell *matHeaderCellDef> Room Number </th>
          <td mat-cell *matCellDef="let room" [formGroup]="room">
            <mat-form-field appearance="outline">
              <mat-label>Enter Room Number </mat-label>
              <input matInput formControlName="roomNumber" placeholder="Enter Room Number">
            </mat-form-field>
          </td>
        </ng-container>
        <!-- Shares Column -->
        <ng-container matColumnDef="shares">
          <th mat-header-cell *matHeaderCellDef> Shares </th>
          <td mat-cell *matCellDef="let room" [formGroup]="room">
            <mat-form-field appearance="outline">
              <mat-label>Enter Share</mat-label>
              <input matInput formControlName="shares" placeholder="Enter Share ">
            </mat-form-field>
          </td>
        </ng-container>
        <!-- Rates Column -->
        <ng-container matColumnDef="rates">
          <th mat-header-cell *matHeaderCellDef> Rates </th>
          <td mat-cell *matCellDef="let room" [formGroup]="room">
            <mat-form-field appearance="outline">
              <mat-label>Enter Room Rate </mat-label>
              <input matInput formControlName="rates" placeholder="Enter Room Rate" >
            </mat-form-field>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['sno', 'roomNumber', 'shares', 'rates']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['sno', 'roomNumber', 'shares', 'rates'];"></tr>
      </table>
    </div>
  </div>
  <div class="adminButtons" style="margin-top: 5vh; width: 40%; margin-left: 30%;">
    <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid" >Submit</button>
    <button mat-raised-button type="button" (click)="onReset()">Reset</button>
    <button mat-raised-button routerLink="/room">Cancel</button>
  </div>
</form>