<div class="container-fluid">
  <div class="row justify-content-center py-3 border">
    <h3 class="text-center mb-4">My Building Details</h3>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="w-100">
      <div class="col-12 col-md-6 offset-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select pgType</mat-label>
          <mat-select formControlName="pgType" (selectionChange)="onItemSelected()">
            <mat-option *ngFor="let item of pgType" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 mt-5" *ngIf="myForm.get('pgType')?.value">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Hostel Name</th>
                <th scope="col">Floor Number</th>
                <th scope="col">Room Number</th>
                <th scope="col">Share Type</th>
                <th scope="col">Rates</th>
                <th scope="col">Available Rooms</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let owner of ownerData; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ owner.pgName }}</td>
                <td>{{ owner.floorNumber }}</td>
                <td>{{ owner.roomNumber }}</td>
                <td>{{ owner.shareType }}</td>
                <td>{{ owner.rates }}</td>
                <td [ngClass]="{'bg-success text-white': owner.availableRooms > 0, 'bg-danger text-white': owner.availableRooms === 0}">
                  {{ owner.availableRooms }}
                </td>
                <td>
                  <button class="btn btn-outline-info btn-sm" type="button" (click)="navigateToAddStudent(owner)" *ngIf="owner.availableRooms > 0; else roomFull">Add Student</button>
                  <ng-template #roomFull>
                    <strong class="text-danger">Room Full</strong>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-12 text-center mt-4">
        <button class="btn btn-info" style="margin-right: 30px;" (click)="printMe()">Print</button>
        <button mat-raised-button class="btn btn-primary ml-3" routerLink="/owner-screen">Back to Owner Screen</button>
      </div>
    </form>
  </div>
</div>
