
#button-1{
    background-color: rgb(61, 114, 194);
    color:rgba(255, 255, 255, 0.819);
}
#button-1:hover{
    scale: 1;
}
#button-2{
  background-color: rgb(61, 114, 194);
  color:white;
}
::ng-deep .mat-dialog-actions {
    display: flex;
    justify-content: center;
    margin: 20px;
} 
.title-container {
    margin-left: 50px;
    margin-top: 0px;
}
.message {
    color: black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 20px;
}
.dialog-content{
    border: 2px saddlebrown solid;
}