<h3 class="content" style="margin-left: 35%; margin-top: 2%;">Registration Page</h3>
<form [formGroup]="form" class="SignUp-container">
    <mat-form-field class="mats-Inputs" appearance="outline" style="margin-top: 5vh;">
    <mat-label>Enter First Name</mat-label>
    <input type="text" matInput formControlName="firstName" placeholder="Enter First Name" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="outline"> 
    <mat-label>Enter Midddle Name</mat-label>
    <input type="text" matInput formControlName="middleName" placeholder="Enter Middle Name">
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="outline"> 
    <mat-label>Enter Last Name</mat-label>
    <input type="text" matInput formControlName="lastName" placeholder="Enter Last Name" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="outline"> 
    <mat-label>Enter EmailId</mat-label>
    <input type="text" matInput formControlName="emailId" placeholder="Enter EmailId" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="outline"> 
    <mat-label>Enter MobileNumber</mat-label>
    <input type="text" matInput formControlName="mobileNumber" placeholder="Enter MobileNumber" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="outline"> 
    <mat-label>Enter UserName</mat-label>
    <input type="text" matInput formControlName="userName" placeholder="Enter UserName" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="outline"> 
    <mat-label>Enter Password</mat-label>
    <input type="password" matInput formControlName="password" placeholder="Enter password" required>
</mat-form-field>
<div class="container">
    <button class="btn btn-outline-primary" (click)="ownerRegistration()" style="margin-right: 2%;">Submit</button>
    <button class="btn btn-outline-primary" (click)="onReset()">Cancel</button>
</div>
</form>