<div class="content">

</div>
<form [formGroup]="form" class="SignUp-container">
    <h3>Owner Registration</h3>
    <mat-form-field class="mats-Inputs" appearance="fill">
    <mat-label>Enter First Name</mat-label>
    <input type="text" matInput formControlName="firstName" placeholder="Enter First Name" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="fill"> 
    <mat-label>Enter Midddle Name</mat-label>
    <input type="text" matInput formControlName="middleName" placeholder="Enter Middle Name">
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="fill"> 
    <mat-label>Enter Last Name</mat-label>
    <input type="text" matInput formControlName="lastName" placeholder="Enter Last Name" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="fill"> 
    <mat-label>Enter EmailId</mat-label>
    <input type="text" matInput formControlName="emailId" placeholder="Enter EmailId" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="fill"> 
    <mat-label>Enter MobileNumber</mat-label>
    <input type="text" matInput formControlName="mobileNumber" placeholder="Enter MobileNumber" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="fill"> 
    <mat-label>Enter UserName</mat-label>
    <input type="text" matInput formControlName="userName" placeholder="Enter UserName" required>
</mat-form-field>

<mat-form-field class="mats-Inputs" appearance="fill"> 
    <mat-label>Enter Password</mat-label>
    <input type="password" matInput formControlName="password" placeholder="Enter password" required>
</mat-form-field>

<button (click)="ownerRegistration()">Submit</button>
<button>Cancel</button>
</form>