<h3 class="content" style="margin-left: 40%; margin-top: 2%;">Login Page</h3>
<form [formGroup]="formData" class="SignUp-container">
    <mat-form-field class="mats-Inputs" appearance="outline" style="margin-top: 5%;">
        <mat-label>Enter Mobile Number</mat-label>
        <input type="text" matInput placeholder="Enter mobileNumber" formControlName="mobileNumber">
    </mat-form-field>

    <mat-form-field class="mats-Inputs" appearance="outline">
        <mat-label>Enter Password</mat-label>
        <input type="password" matInput placeholder="Enter Password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login()">Login</button>

</form>
