.SignUp-container{
    height: 50%;
    width: 30%;
}
.eye{
    box-shadow: none;
    height: 3vh;
    width: 2vw;
    margin-right: 1vw;
    margin-top: -2vh;
}
.eye:hover{
    scale: 1;
    box-shadow: none;
    background-color: white;
}