<div class="container mt-5">
    <h3 class="text-center mb-4">Room</h3>
    <div class="button-container">
      <button class="btn btn-outline-primary" routerLink="/userheader/addRoom">Add Room</button>
      <button class="btn btn-outline-primary" routerLink="/userheader/getRoom">Get Room</button>
      <button class="btn btn-outline-primary" routerLink="/userheader/updateRoom">Update Room</button>
      <!-- <button class="btn btn-outline-primary" routerLink="/removeRoom">Remove Room</button> -->
    </div>
  </div>