.modal-header {
    background-color: #f8f9fa;
  }
  
  .modal-title {
    color: #495057;
  }
  
  .btn-secondary {
    background-color: #6c757d;
  }
  
  .btn-primary {
    background-color: #0d6efd;
  }
  