.SignUp-container {
    width: 80%;
    margin: 0 auto; /* Center the form */
    max-width: 600px; /* Limit the max width */
  }
  
  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // flex-wrap: wrap; /* Allow buttons to wrap */
    margin-top: 20px; /* Add some spacing */
  }
  
  mat-card {
    box-shadow: 0px 0px 2px black;
  }
  
  .mats-Inputs {
    width: 80%; /* Make inputs full width */
  }
  
  @media screen and (min-width: 768px) {
    .SignUp-container {
      width: 60%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .SignUp-container {
      width: 40%;
    }
  }
  