<div class="content"></div>
<h3 class="h3" style="text-align: center; margin-top: 7vh;">Add Student</h3>
<form [formGroup]="myForm" class="SignUp-container">

  <mat-card style="margin-top: 5%;">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{buildingDetails.pgName}}</mat-card-title>
      <mat-card-subtitle>{{buildingDetails.pgType}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image />
    <mat-card-content>
      <div>
        <ul>
          <li><strong>Floor Number: </strong>{{buildingDetails.floorNumber}}</li>
          <li><strong>Room Number: </strong>{{buildingDetails.roomNumber}}</li>
          <li><strong>Share Type: </strong>{{buildingDetails.shareType}}</li>
          <li><strong>Rate: </strong>{{buildingDetails.rates}}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-form-field appearance="outline" class="mats-Inputs" style="margin-top: 3%;">
    <mat-label>Select Joining Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="joiningDate" [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="mats-Inputs" style="margin-top: 4vh;">
    <mat-label>Enter First Name</mat-label>
    <input type="text" matInput placeholder="Enter First Name" required formControlName="firstName">
  </mat-form-field>

  <mat-form-field appearance="outline" class="mats-Inputs">
    <mat-label>Enter Middle Name</mat-label>
    <input type="text" matInput placeholder="Enter Middle Name" formControlName="middleName">
  </mat-form-field>

  <mat-form-field appearance="outline" class="mats-Inputs">
    <mat-label>Enter Last Name</mat-label>
    <input type="text" matInput placeholder="Enter Last Name" required formControlName="lastName">
  </mat-form-field>

  <mat-form-field appearance="outline" class="mats-Inputs">
    <mat-label>Enter EmailId</mat-label>
    <input type="email" matInput placeholder="Enter EmailId" required formControlName="emailId">
  </mat-form-field>

  <mat-form-field appearance="outline" class="mats-Inputs">
    <mat-label>Enter MobileNumber</mat-label>
    <input type="text" matInput placeholder="Enter MobileNumber" required formControlName="mobileNumber">
  </mat-form-field>

  <mat-form-field appearance="outline" class="mats-Inputs">
    <mat-label>Enter Id Type</mat-label>
    <input type="text" matInput placeholder="Enter Id Type" required formControlName="idType">
  </mat-form-field>

  <mat-form-field appearance="outline" class="mats-Inputs">
    <mat-label>Enter Id Number</mat-label>
    <input type="number" matInput placeholder="Enter Id Number" required formControlName="idNumber">
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid" (click)="Onsubmit()" style="margin-right: 5%;">Submit</button>
    <button mat-raised-button type="button" (click)="onReset()" style="margin-right: 5%;">Reset</button>
    <button mat-raised-button routerLink="/room">Cancel</button>
  </div>

</form>
