<div class="container mt-5">
    <h3 class="mb-4 text-center">Building</h3>
    <form>
      <div class="button-container">
        <button class="btn btn-outline-primary" routerLink="/userheader/addBuilding">Add Building</button>
        <button class="btn btn-outline-primary" routerLink="/userheader/displayBuilding">Get Building</button>
        <button class="btn btn-outline-primary" routerLink="/userheader/updateBuilding">Update Building</button>
        <button class="btn btn-outline-primary" routerLink="/userheader/removeBuilding">Remove Building</button>
        <button class="btn btn-outline-primary" routerLink="/userheader/getMyBuilding">Get My Building</button>
        <button class="btn btn-outline-primary" routerLink="/userheader/payment">Pay</button>
      </div>
    </form>
  </div>