<div class="container mt-5">
  <mat-card>
    <mat-card-title class="centered">
      <h3>Add Room</h3>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group-center">
          <mat-form-field appearance="outline">
            <mat-label>Select a Hostel</mat-label>
            <mat-select formControlName="selectedBuilding" (selectionChange)="onItemSelected()">
              <mat-option *ngFor="let item of listofBuildingsArray" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div formArrayName="floorRooms">
          <div *ngFor="let floor of floorRooms.controls; let i = index" [formGroupName]="i">
            <h4 class="mb-3 text-start">Floor {{ floor.get('floorNumber')?.value }}</h4>
            <div class="table-container">
              <table mat-table [dataSource]="getRoomsControls(i).controls">
                <!-- S.No Column -->
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef> S.No </th>
                  <td mat-cell *matCellDef="let row; let index = index"> {{index + 1}} </td>
                </ng-container>
                <!-- Room Number Column -->
                <ng-container matColumnDef="roomNumber">
                  <th mat-header-cell *matHeaderCellDef> Room Number </th>
                  <td mat-cell *matCellDef="let room" [formGroup]="room">
                    <mat-form-field appearance="outline">
                      <mat-label>Enter Room Number</mat-label>
                      <input matInput formControlName="roomNumber" placeholder="Enter Room Number">
                    </mat-form-field>
                  </td>
                </ng-container>
                <!-- Shares Column -->
                <ng-container matColumnDef="shares">
                  <th mat-header-cell *matHeaderCellDef> Shares </th>
                  <td mat-cell *matCellDef="let room" [formGroup]="room">
                    <mat-form-field appearance="outline">
                      <mat-label>Enter Share</mat-label>
                      <input matInput formControlName="shares" placeholder="Enter Share">
                    </mat-form-field>
                  </td>
                </ng-container>
                <!-- Rates Column -->
                <ng-container matColumnDef="rates">
                  <th mat-header-cell *matHeaderCellDef> Rates </th>
                  <td mat-cell *matCellDef="let room" [formGroup]="room">
                    <mat-form-field appearance="outline">
                      <mat-label>Enter Room Rate</mat-label>
                      <input matInput formControlName="rates" placeholder="Enter Room Rate">
                    </mat-form-field>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['sno', 'roomNumber', 'shares', 'rates']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['sno', 'roomNumber', 'shares', 'rates'];"></tr>
              </table>
            </div>
          </div>
        </div>

        <div class="action-buttons">
          <button mat-raised-button color="primary" type="submit" style="margin-right: 10px;" [disabled]="!myForm.valid">Submit</button>
          <button mat-raised-button type="button" style="margin-right: 10px;" (click)="onReset()">Reset</button>
          <button mat-raised-button routerLink="/userheader/room">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
