
<div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3>Add Building</h3>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="myForm">
              <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Enter Hostel Name</mat-label>
                  <input type="text" matInput placeholder="Enter Hostel Name" formControlName="pgName" required>
                </mat-form-field>
              </div>
  
              <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select pgType</mat-label>
                  <mat-select formControlName="pgType">
                    <mat-option value="Boys">Boys</mat-option>
                    <mat-option value="Girls">Girls</mat-option>
                    <mat-option value="Co-Living">Co-Living</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Enter Hostel Location</mat-label>
                  <input type="text" matInput placeholder="Enter Hostel Location" formControlName="location" required>
                </mat-form-field>
              </div>
  
              <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Enter Number of Floors</mat-label>
                  <input type="number" matInput placeholder="Enter Floors" formControlName="numberofFloors" required>
                </mat-form-field>
              </div>
  
              <div class="form-group">
                <input type="file" id="fileInput" (change)="onFileSelected($event)" class="form-control-file" required>
              </div>
  
              <div class="form-group text-center">
                <button mat-raised-button color="primary" (click)="addBuilding()" style="margin-right: 15px;" >Submit</button>
                <button mat-raised-button color="accent" (click)="onReset()" style="margin-right: 15px;" >Reset</button>
                <button mat-raised-button color="warn" routerLink="/userheader/building">Cancel</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>