<div class="content"></div>
<h3 class="h3" style="margin-left: 40%; margin-top: 7vh;">List of Floors</h3>
  <form [formGroup]="getFloorForm">

    <mat-form-field appearance="outline" class="mats-Inputs" style="margin-top: 1vh;">
      <mat-label>Select a Hostel</mat-label>
      <mat-select formControlName='selectedBuilding' (selectionChange)="onItemSelected()">
        <mat-option *ngFor="let item of listofBuildingsArray" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

    <table class="building-table" *ngIf="selectedBuilding">
      <thead>
        <tr>
            <th>S.No</th>
            <th>Hostel Name</th>
            <th>Floor Number</th>
            <th>Number of Rooms</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let floor of floorDetails; let i=index">
            <td>{{i+1}}</td>
            <td>{{floor.buildingName}}</td>
            <td>{{ floor.floorNumber }}</td>
            <td>{{ floor.numberofRooms }}</td>
        </tr>
      </tbody>
    </table>
    <div class="adminButtons" style="margin-left: 32%; margin-top: 5%; margin-bottom: 25%;">
      <button mat-raised-button (click)="printMe()" >print</button>
      <button mat-raised-button routerLink="/owner-screen">Back to OwnerScreen</button>
    </div>
  </form>  
