<div class="container mt-5">
    <h3 class="text-center mb-4">Employee</h3>
    <div class="button-container">
      <button class="btn btn-outline-primary" routerLink="/userheader/addEmployee">Add Employee</button>
      <button class="btn btn-outline-primary" routerLink="/userheader/list-employee">Remove Employee</button>
      <button class="btn btn-outline-primary" routerLink="/userheader/update-employee">Update Employee</button>
      <button class="btn btn-outline-primary" routerLink="/userheader/list-employee">List Employee</button>
    </div>
  </div>
