.SignUp-container{
    height: 80%;
    width: 50%;
    margin-left: 25%;
}
#formDetails{
    margin-top: 20% ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vh;
}