<div class="content"></div>

<form class="SignUp-container" [formGroup]="myForm">
    <mat-form-field appearance="outline">
        <mat-label>Enter Hostel Name</mat-label>
        <input type="text" matInput placeholder="Enter Hostel Name" formControlName="pgName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Select pgType</mat-label>
        <mat-select [(value)]="selectedOption" formControlName="pgType">
          <mat-option value="Boys">Boys</mat-option>
          <mat-option value="Girls">Girls</mat-option>
          <mat-option value="Co-Living">Co-Living</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label>Enter Hostel Location</mat-label>
        <input type="text" matInput placeholder="Enter Hostel Location" formControlName="location" required>
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label>Enter Number of Floors</mat-label>
        <input type="number" matInput placeholder="Enter Floors" formControlName="numberofFloors" required>
    </mat-form-field>

    <button  [disabled]="!myForm.get('pgName')?.value" (click)="addBuilding()">Submi t</button> 
</form>


