<div style="margin-top: 35vh; margin-left: 20vw;">
  <div>
    <p-toast></p-toast>
    <p-button type="button" (onClick)="showSuccess()" label="Success" severity="success"></p-button> 
    <p-button type="button" (onClick)="showInfo()" label="Info" severity="info"></p-button>
    <p-button type="button" (onClick)="showWarn()" label="Warn" severity="warning"></p-button>
    <p-button type="button" (onClick)="showError()" label="Error" severity="danger"></p-button>
    <p-button type="button" (onClick)="showSecondary()" label="Secondary" severity="secondary"></p-button>
    <p-button type="button" (onClick)="showContrast()" label="Contrast" severity="contrast"></p-button>
  </div>
</div>
