.form-container {
    margin-top: 2vh;
  }
  .form-container mat-form-field {
    width: 100%;
  }
  .button-group {
    margin-top: 20px;
    display: flex;
    // justify-content: space-between;
    justify-content:  baseline;
  }
  .mat-card {
    padding: 20px;
  }