.content {
  padding-top: 100px; 
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1vw;
    z-index: 1000;
    display: flex; 
    gap: 1.5vw;
    // align-items: center;
    justify-content: center;
  }
  
  
  h3:hover{
    // height: 100vh;
    // width: 100vw;
    // background-color: purple;
    cursor: pointer;
  }
