.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    z-index: 1000; 
  }
  
  
  .content {
    padding-top: 70px; 
  }
  h3:hover{
    cursor: pointer;
  }
