<div class="container mt-5">
    <h3 class="mb-4 text-center ">Floor</h3>
    <form>
      <div class="button-container">
        <button class="btn btn-outline-primary" routerLink="/userheader/addFloor">Add Floor</button>
        <button class="btn btn-outline-primary" routerLink="/userheader/getFloor">Get Floor</button>
        <button class="btn btn-outline-primary" routerLink="/userheader/updateFloor">Update Floor</button>
        <!-- Uncomment if needed -->
        <!-- <button class="btn btn-outline-primary" routerLink="/removeFloor">Remove Floor</button> -->
      </div>
    </form>
  </div>