<div class="content">
    <!-- Content goes here -->
</div>
  
<form [formGroup]="form" class="SignUp-container" (ngSubmit)="onSubmit()">
    <h3>Add Floors</h3>
  
    <mat-form-field appearance="outline" class="mats-Inputs" style="margin-left: 5%;">
      <mat-label>Select a Hostel</mat-label>
      <mat-select formControlName="selectedItemId" (selectionChange)="onItemSelected()">
        <mat-option *ngFor="let item of listofBuildingsArray" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Display floors dynamically -->
     
    <div formArrayName="floors">
      <div *ngFor="let floor of floors.controls; let i = index">
        <div [formGroupName]="i">
        <h5 style="margin-left: 12%;">Enter Floor Number :{{i}}</h5>
          <mat-form-field class="mats-Inputs" appearance="outline">
            <mat-label>Enter Floor Number</mat-label>
            <input type="text" matInput formControlName="floor" placeholder="Enter Floor Number" required>
          </mat-form-field>
  
          <mat-form-field class="mats-Inputs" appearance="outline">
            <mat-label>Enter number of Rooms</mat-label>
            <input type="number" matInput formControlName="numberofRooms" placeholder="Enter Number of Rooms" required>
          </mat-form-field>
        </div>
      </div>
    </div>
  
    <!-- Add floor button -->
 

        <button type="button" (click)="addFloor()">Add Floor</button>
  
    <!-- <button type="button" (click)="toggleAdditionalFields()">
      {{ showAdditionalFields ? 'Hide Additional Fields' : 'Show Additional Fields' }}
    </button> -->
  
    <!-- Cancel and Submit buttons -->
        <button type="submit" (click)="onSubmit()">Submit</button>
        <button type="button">Cancel</button>
   
</form>
  